:root {
    --cor-font-cinza: #ffffff6a;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }


.nav-mobile {
    display: none;
}




body {
    background-color: #222222;
    margin: 0 auto;
}

.nav {
    display: flex;
    width: 100%;
    height: 6.2rem;
    background-color: #222222;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #333333;


    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.nav-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.nav-container li {
    list-style-type: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.nav-container > li > a {
    text-decoration: none;
    color: var(--cor-font-cinza);
}

.nav-container > li > a:hover {
    background: linear-gradient(to left, #0B486B, #F56217);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.perfil {
    display: flex;
    width: 80%;
    margin: 4rem auto;
    height: 28rem;
    gap: 2rem;

}

.perfil-img img{
    width: 320px;
    height: 380px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.perfil-sobre{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
}

.perfil-sobre__area {
    color: var(--cor-font-cinza);
    font-weight: 200;
}

.perfil-sobre__nome {
    font-size: 3rem;
    color: #ffffff;
    opacity: 0; 
    animation: fadeIn 4s forwards;
}

.perfil-sobre__paragrafo {
    color: #ffffff;
    width: 90%;
    justify-content: left;
}

.perfil-links {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    margin-left: 1rem;
}

.perfil-links__github {
    width: 6.4rem;
    height: 2.8rem;
    border-radius: 30px;
    background-image: linear-gradient(to left, #0B486B, #F56217);
    border: 2px solid #ffffff42;
}

.perfil-links__github a {
    background-color: #333333;
    width: 6.4rem;
    height: 2.8rem;
    border-radius: 30px;
    padding: 10px 24px;
    text-decoration: none;
    color: #ffffff;
}

.perfil-links__github a:hover {
    background-image: linear-gradient(to left, #0B486B, #F56217);
}

.perfil-links__linkedin {
    width: 6.4rem;
    height: 2.8rem;
    border-radius: 30px;
    background-image: linear-gradient(to left, #0B486B, #F56217);
    border: 2px solid #ffffff42;
}

.perfil-links__linkedin a {
    background-color: #333333;
    width: 6.4rem;
    height: 2.8rem;
    border-radius: 30px;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
}

.perfil-links__linkedin a:hover {
    background-image: linear-gradient(to left, #0B486B, #F56217);
}

.perfil-links__curriculo {
    width: 8.4rem;
    height: 2.8rem;
    border-radius: 30px;
    background-image: linear-gradient(to left, #0B486B, #F56217);
    border: 2px solid #ffffff42;
}

.perfil-links__curriculo a {
    background-color: #333333;
    width: 6.4rem;
    height: 2.8rem;
    border-radius: 30px;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
}

.perfil-links__curriculo a:hover {
    background-image: linear-gradient(to left, #0B486B, #F56217);
}


@media only screen and (max-width: 800px){
    .perfil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 120px;
    }

    .perfil-img img {
        
        width: 300px;
        height: 350px;
    }

    .perfil-sobre__paragrafo {
        width: 96%;
        justify-content: center;
    }

    .perfil-links {
        align-items: center;
        justify-content: center;
    }
}


@media only screen and (max-width: 450px) {
    
    /* codigo da ação do menu*/
    
    .nav-mobile {
        width: 98%;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 10;
        display: block;
        background-color: #222222;
    }
    
    .nav-mobile-teste {
        width: 98%;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        z-index: 10;

    }

   

    .nav-mobile-button__img svg{
        width: 100%;
        height: 2rem;
    }

    .nav-container {
        width: 98%;
        position: absolute;
        left: 0;
        display: none;
        z-index: 100;
        background-color:  #222222;
        border-radius: 8px;
        text-align: center;
    }

    .nav-mobile:hover .nav-container {
        display: block;
    }

    
    
    
    
    /* codigo verdadeiro*/
    .nav {
        display: none; /* excluir*/
    }

    .nav-container {
        flex-direction: column;
        padding: 5px;
        gap: 0.5rem;
    }

    .nav-container li {
        font-size: 1rem;
    }

    .perfil {
        width: 90%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0;
        margin: 1rem;
    }

    .perfil-sobre {
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .perfil-links {
        flex-direction: column;
    }
    
    .perfil-sobre__nome, .perfil-sobre__area {
        text-align: center;
    }

    .perfil-sobre__paragrafo {
        width: 92%;
        padding: 20px;
    }


}