#projetos {
    width: 100%;
    height: auto;
    padding-top: 100px;
    margin-bottom: 30px;
}

.projetos-box {
    width: 95%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    border-radius: 10px;

    background-color: #333333;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projetos-conteudo {
    width: 18rem;
    height: 20rem;
    display: flex;
    flex-direction: column;

    border: 1px solid rgba(255, 255, 255, 0.567);
    border-radius: 10px;

    margin-bottom: 26px;

    background-color: #222222;
}

.projetos-conteudo__img {
    width: 100%;
    height: 10rem;
    background-image: url(img/background_padrao.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.projetos-conteudo__img1 {
    width: 100%;
    height: 10rem;
    background-image: url(img/Imagem\ do\ WhatsApp\ de\ 2024-04-28\ à\(s\)\ 12.37.21_4888cf97.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.projetos-conteudo__img2 {
    width: 100%;
    height: 10rem;
    background-image: url(img/Imagem\ do\ WhatsApp\ de\ 2024-06-08\ à\(s\)\ 07.38.15_039e76a1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.projetos-conteudo__descricao {
    width: 95%;
    height: 10rem;
    flex: 1 1 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 20px;

}

.projeto-conteudo__nome {
    color: #ffffff;
    font-size: 1.2rem;
}

.projetos-conteudo__skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.projetos-conteudo__skills img {
    width: 26px;
    height: 26px;
}

.projetos-conteudo__botao {
    background-color: #222222;
    border: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.projetos-conteudo__botao a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    padding: 2px;
}

.projetos-conteudo__botao a:hover {
    background: linear-gradient(to left, #0B486B, #F56217);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid #ffffff;
}


@media only screen and (max-width: 800px){
    .perfil-sobre {
        justify-content: center;
        align-items: center;
    }
    
    .projetos-conteudo {
        margin-bottom: 30px;
    }

    #projetos {
        width: 100%;
    }

    .projetos-box {
        width: 90%;
    }

    .projeto-conteuno__nome {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px;
    }
}

@media only screen and (max-width: 450px) {
    #projetos {
        width: 98%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .projetos-box {
        width: 76%;
        align-items: center;
        justify-content: center;
    }

    .projetos-conteudo {
        width: 70%;
    }

    .projetos-conteudo__descricao {
        width: 100%;
    }
}